/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Additional resets */
button {
  border: none;
}

a {
  text-decoration: none;
}

/* Box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Style begin below*/

/* Font styles */
body {
  font-family:'Lucida Sans', Verdana, sans-serif
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero-main {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

li a,  
.hero-info {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  border-radius: 8px;
  background-color: #3882F6;
  color: #F9FAF8;
}

blockquote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.cta h4,
.cta p {
  color: #F9FAF8;
}

.cta h4 {
  font-weight: bold;
}

.cta p {
  color: #E5E7EB;
}
/* Layout Left, right gutters */
.sect01,
.sect03,
.sect04,
footer {
  padding: 0 23vw;
}

.sect02 {
  padding: 0 30vw 0 30vw;
}

.header-wrapper {
  padding: 15px 23vw 75px 23vw;

}

/* Color Styles */
.header-wrapper,
.sect01 {
  background-color: #1F2937;
}

.sect03 {
  background-color: #E5E7EB;
}
/* Styles */

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}


/* Section 1 */

.sect01{
  display: flex;
  
}

.sect01-inner-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.sect01-left-hero {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sect01-right-hero {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}

.sect01-left-hero button {
  
  padding: 10px 25px;

}

.hero-image {
  width: 27vw;
}

.sect02 {
}

.sect02-inner-wrapper {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
}

.sect02-title {
  
  text-align: center;
}

.sect02-parent {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 30px;
  
}

.sect02-child {
  display: flex;
  width: 184px;
  flex-direction: column;
  align-items: center;
}

.sect02-child img {
  height: 190px;
  border-radius: 8px;
}

.sect02-caption {
  padding-top: 15px;
  text-align: center;
}

.sect03 {
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
}
.sect03-parent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.sect04 {
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
}

.sect04-parent {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 8px;
  background-color: #3882F6;
  
  padding: 35px 40px 35px 40px;
}

.cta {

}

.cta-btn {
  border: 2px solid #F9FAF8;
  
}

.cta button {
  border-radius: 5px;
  padding: 10px 25px;
}

